.block {
    width: 122px;
    height: 91px;
    margin: 25px 10px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.filename {
    position: relative;
    top: 100px;
}