.fastleo-nav {
    color: #ffffff;
}

.fastleo-nav a {
    color: #ffffff;
}

.block {
    width: 122px;
    height: 91px;
    margin: 25px 10px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center 100%;
    text-align: center;
}

.filename {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
    font-size: 12px;
    line-height: 3px;
    position: relative;
    top: 90px;
}